{%extends 'posts/base.html'%}

{%block content%}
<form action="" method="post" enctype="multipart/form-data">
    {%csrf_token%}
    {{form.as_p}}
    <button type="submit">Register</button>
</form>
{%endblock%}

<!--&lt;!&ndash;class Register_Form(for&ndash;&gt;-->

<!--    def clean(self):-->
<!--        cleaned_data = super.clean()-->
<!--        password = cleaned_data.get('password')-->
<!--        confirm_password = cleaned_data.get('confirm_password')-->
<!--        if password and confirm_password and password != confirm_password:-->
<!--            raise forms.ValidationError("Password does not match")-->
<!--        if password and confirm_password and password == confirm_password:-->
<!--            return cleaned_data-->

